################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CarRentalAppMVC/.vs
/.vs
/CarRentalAppMVC/CarRentalAppMVC/obj/Debug/net8.0/CarRentalAppMVC.AssemblyInfo.cs
/CarRentalAppMVC/CarRentalAppMVC/obj/Debug/net8.0/CarRentalAppMVC.AssemblyInfoInputs.cache
/CarRentalAppMVC/CarRentalAppMVC/obj/Release/net8.0/CarRentalAppMVC.AssemblyInfo.cs
/CarRentalAppMVC/CarRentalAppMVC/obj/Release/net8.0/CarRentalAppMVC.AssemblyInfoInputs.cache
